<hr>
<div class="card mb-3">
  <div class="col-md-12">
    <%= render 'shared/feed' %>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
    const descriptions = document.getElementsByClassName('description');
    for (let i = 0; i < descriptions.length; i++) {
      description = descriptions[i].innerHTML
      if(description.length > 400) {
        descriptions[i].innerHTML = description.substr(0, 400) + "...";
      }
    }
  })
</script>