<div class="card mb-3" style="margin-bottom: 15px;">
  <div class="row no-gutters">
    <div class="col-md-6">
      <iframe width="400" height="300" src=<%= movie&.url.gsub('watch?v=', 'embed/') %> frameborder=0 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h3 class="card-title text-danger"><%= movie.title %></h3>
        <p class="share">Share by: <span class="text-info"><%= movie&.user&.email %></span></p>
        <p class="text-warning">Description:</p>
        <p class="card-text description"><%= movie&.description %> </p>
      </div>
    </div>
  </div>
</div>